{
    "root": true,
    "rules": {
        "indent": [ 2, "tab", { "SwitchCase": 1 } ],
        "semi": [ 2, "always" ],
        "keyword-spacing": [ 2, { "before": true, "after": true } ],
        "space-before-blocks": [ 2, "always" ],
        "space-before-function-paren": [ 2, "always" ],
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "no-mixed-spaces-and-tabs": [ 2, "smart-tabs" ],
        "no-cond-assign": 0,
        "no-unused-vars": 2,
        "object-shorthand":  [ 2, "always" ],
        "no-const-assign": 2,
        "no-class-assign": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "no-unreachable": 2,
        "valid-typeof": 2,
        "quote-props": [ 2, "as-needed" ],
        "one-var": [ 2, "never" ],
        "prefer-arrow-callback": 2,
        "prefer-const": [ 2, { "destructuring": "all" } ],
        "arrow-spacing": 2,
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "complexity": ["error",10],
        "eqeqeq": ["error", "always", {"null": "ignore"}],
        "no-alert": "error",
        "no-eval": "error",
        "no-loop-func": "error",
        "no-shadow": "warn",
        "array-bracket-spacing": ["error", "always", { "objectsInArrays": false }],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "func-call-spacing": ["error", "never"],
        "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 0, "maxEOF": 1 }],
        "padded-blocks": ["error", "never"],
        "no-multi-spaces": "error",
        "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
        "no-useless-constructor": "error",
        "prefer-template": "error"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}
